@import '../../../styles/mixin.scss';

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &:not(:last-child) {
        margin-bottom: var(--space-xxl);
    }

    @include media($from: 'md', $until: 'xl') {
        width: calc((100% - 1.5rem * 2) / 3);

        &:not(:nth-child(3n)) {
            margin-right: 1.5rem;
        }
    }

    @include media($from: 'xl') {
        width: calc((100% - 1.5rem * 4) / 5);

        &:not(:nth-child(5n)) {
            margin-right: 1.5rem;
        }
    }
}

.figure {
    margin: 0;
    text-align: center;
    margin-bottom: var(--space-xs);
    width: 100%;
    
    img {
        display: block;
        width: 100%;
        height: 485px;
        border-radius: 0.5rem;
        margin-bottom: var(--space-m);

        @include media($from: 'md', $until: 'xl') {
            height: 318px;
        }

        @include media($from: 'xl') {
            height: 256px;
        }
    }

    h3 {
        color: var(--section-title);
    }

    figcaption h3,
    .description {
        text-align: left;
        line-height: 1.05;
    }

    figcaption h3 {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: var(--space-xxs);
    }
}

.description {
    display: block;
    font-size: var(--section-description-font-size);
    color: var(--section-description-text);
}