:root,
::after,
::before {
    /* common */
    --text-color: #fff;
    /* main-section */
    --body-background: #202024;
    /* header */
    --header-background-color: #111;
    --header-border-color: #fff;
    /* logo */
    --logo-color: #fff;
    /* sidebar */
    --sidebar-text-color: rgba(255, 255, 255, 0.6);
    --sidebar-text-hover-color: #eac645c1;
    --sidebar-text-active-color: #eac645;
    --main-black-color: #111;
    --main-white-color: #fff;
    /* projectInfo */
    --project-info-title: #fff;
    --project-info-title-decor: #eac645;
    --project-info-description: #b4afaf;
}
