:root, ::after, ::before {
    /* common */
    --text-color: #111;
    /* main-section */
    --body-background: #F6F6F6;
    /* header */
    --header-background-color: #fff;
    --header-border-color: #111;
    /* logo */
    --logo-color: #111;
    /* sidebar */
    --sidebar-text-color: rgba(17, 17, 17, 0.6);
    --sidebar-text-hover-color: #502ee8e8;
    --sidebar-text-active-color: #4F2EE8;
    /* projectInfo */
    --project-info-title: #111;
    --project-info-title-decor: #4F2EE8;
    --project-info-description: #B4AFAF;
    --main-black-color: #111;
    --main-white-color: #fff;
}