:root, ::after, ::before {
    /* fonts */
    --font-family-sans: 'DM Sans';
    /* spaces */
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 40px;
    /* logo */
    --logo-text-size: 20px;
    /* sidebar */
    --sidebar-width: 335px;
    --sidebar-text-size: 18px;
    /* banner */
    --banner-title: #fff;
    --banner-background: linear-gradient(0deg, rgba(255,255,255,1) -100%, rgba(79,46,232,1) 100%);
    --banner-title-size: 28px;
    --banner-svg: rgba(255, 255, 255, 0.796);
    --banner-svg-hover: #fff;
    /* button */
    --button-bg: transparent;
    --button-padding: 14px 28px;
    --button-font-size: 14px;
    --button-text: #111;
    --button-border: #4F2EE8;
    /* projectList */
    --projectList-description-font-size: 12px;
    --projectList-description-text: #B4AFAF;
    --projectList-title-decor: #4F2EE8;
}