:root,
::after,
::before {
    /* fonts */
    --font-family-sans: 'DM Sans';
    /* spaces */
    --space-xxs: 4px;
    --space-xs: 8px;
    --space-s: 12px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;
    --space-xxl: 40px;
    /* logo */
    --logo-text-size: 20px;
    /* header */
    --header-button-bg: #eac645;
    --header-button-border: #eac645;
    --header-button-text: #111;
    --header-button-text-hover: #fff;
    /* sidebar */
    --sidebar-width: 335px;
    --sidebar-text-size: 18px;
    /* banner */
    --banner-title: #fff;
    --banner-background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) -100%,
        rgba(79, 46, 232, 1) 100%
    );
    --banner-title-size: 28px;
    --banner-svg: rgba(255, 255, 255, 0.796);
    --banner-svg-hover: #fff;
    /* button */
    --button-bg: transparent;
    --button-padding: 14px 28px;
    --button-font-size: 14px;
    --button-border: #4f2ee8;
    /* projectList */
    --section-description-font-size: 12px;
    /* projectModal */
    --projectModal-border-radius: 18px;
    --projectModal-subTitle: #b4afaf;
    --projectModal-subTitle-mb: 20px;
    --projectModal-width: 580px;
    --projectModal-width-small: 335px;
    --projectModal-subTitle-font-size: 14px;
    --projectModal-subTitle-font-size-small: 12px;
    --projectModal-close-icon-small-position: 12px;
    /* common */
    --section-description-text: #b4afaf;
    --section-title-decor: #4f2ee8;
}
