.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--header-border-color);
    background-color: var(--header-background-color);
    height: 4rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: var(--space-s);
}