@import '../../../styles/mixin.scss';

.TicTacToeWrapper {
    position: relative;

    & section {
        height: 510px;
        border-radius: 0.5rem;
        
        @include media($from: 'sm', $until: 'xl') {
            height: 660px;
        }
    }

    [class*='react-responsive-modal-container'] {
        overflow: hidden;
    }
}
